@font-face {
	font-family: Montserrat;
	src: url('MontserratSemibold.otf') format('opentype');
}

@font-face {
	font-family: Montserrat;
	font-weight: semibold;
	src: url('MontserratSemibold.otf') format('opentype');
}
